/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap.min
 *= require application
 */
 
/* ==================================================
General
================================================== */
.margin-top{ margin-top: 100px; }

.myh{
  color: rgb( 92, 148, 74);
}
.myh-link{
  color: rgb( 92, 148, 74);
  text-decoration: none;
}
.myh-link:hover{
  color: rgb( 178, 210, 53);
  text-decoration: none;
}
.myh-center{
    text-align: center;
}

.verticalAlign{
    display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	vertical-align: middle;
}

.opacity:hover {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* ==================================================
Botones
================================================== */
.btn-full{
  width: 98%;
} 
.btn {
  background-color: rgb( 92, 148, 74);
  border-radius: 4px;
  margin: 5px;
  padding: 10px 20px;
  /*font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;*/
  color: #fff;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #fff !important;
  border: 1px solid rgb( 92, 148, 74) !important; 
  color: rgb( 92, 148, 74) !important;
}
.btn-ghost {
  background-color: transparent;
  border: 1px solid rgb( 92, 148, 74); 
  border-radius: 4px;
  margin: 5px;
  padding: 2px 5px;
  /*font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 800;*/
  color: rgb( 92, 148, 74);
}
.btn-ghost:hover {
  background-color: rgb( 92, 148, 74);
  color: #fff;
  text-decoration: none;
}

  
/* ==================================================
Panel
================================================== */ 
.panel, .panel-default{

}
.panel-heading{
  background-color: #fff !important;
  margin: 0 !important;
}
.panel-footer{
  border: 0;
  background-color: #fff;
  text-align: center;
  
}



/* ==================================================
Forma
================================================== */ 
.form{
 border:  1px solid rgb(192, 192, 192);
 border-radius: 4px;
 width: 100%
}

/* ==================================================
Nav-Bar
================================================== */ 
.navbar-default {
    background-color: rgb(250, 250, 250);
    border-bottom: 1px solid rgba(220, 220, 220, 1);
    padding: 8px 48px;
    min-height: 75px;
    vertical-align: middle;
    display: inline-block;
}
#logo-bioenergy{
  height: inherit;
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-collapse {
    margin: 0;
    padding: 0;
}

/* Link */
.navbar-default .navbar-nav > li > a {
    vertical-align:middle;
    display: inline-block;
    color: rgb( 92, 148, 74);
    font-size: 15px;
}
.navbar-dropdown{
    vertical-align:middle;
    display: inline-block;
    color: #f9fafb;
    font-size: 15px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #bcdee7;
}
.navbar-default .navbar-nav > .acimg-fulltive > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f9fafb;
    background-color: #fff;
}

/* ==================================================
Drop-Down
================================================== */ 
.dropbtn {
    background-color: rgb( 92, 148, 74);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/* ==================================================
  grid
  ================================================== */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
